<center><h1>Técnicas de Inteligencia Artificial</header1></center>

Presentado por: Joan Fernando Cevallos Sarango  <br>
Fecha:10/07/2022

# Importación de librerias necesarias

In [5]:
#Para esta actividad se importarán las siguientes librerías:
#Importamos la libreria pandas
import pandas as pd
#Importamos la libreria numpy
import numpy as np

## Cargar el Dataset

In [30]:
#Código para cargar el Dataset
#url dataset
url='https://raw.githubusercontent.com/JoanC07/Regresion_Lineal/master/Car_details_from_car_dekho.csv'
#cargar datos en base a la url del dataset
car_data=pd.read_csv(url)

In [31]:
#visualización de los 10 primeros datos
car_data.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
5,Maruti Alto LX BSIII,2007,140000,125000,Petrol,Individual,Manual,First Owner
6,Hyundai Xcent 1.2 Kappa S,2016,550000,25000,Petrol,Individual,Manual,First Owner
7,Tata Indigo Grand Petrol,2014,240000,60000,Petrol,Individual,Manual,Second Owner
8,Hyundai Creta 1.6 VTVT S,2015,850000,25000,Petrol,Individual,Manual,First Owner
9,Maruti Celerio Green VXI,2017,365000,78000,CNG,Individual,Manual,First Owner

In [29]:
#desplegar la descripción del dataset
car_data.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

## Descripción de la fuente del Dataset

El dataset contiene información de 4340 automóviles de segunda mano. Dicho dataset contiene 8 atributos, incluida una característica de clase (objetivo) que indica el precio del automóvil. El significado comercial de cada columna (atributo) en los datos es el siguiente:

**Tenemos las siguientes variables x - y**

**Declarando nuestra variable objetivo: Tambien denominada 'y' o variable dependiente**

--> **selling_price:** Precio de venta.

**Declarando nuestra variable de entrada: Tambien denominada 'x' o variable independiente**

--> **name:** Marca y modelo del vehiculo.

--> **year:** Año del vehiculo.

--> **selling_price:** Precio de venta.

--> **km_driven:** kilometraje total recorrido.

--> **fuel:** Tipo de combustible que usa.

--> **seller_type:** Tipo de vendedor.

--> **transmission:** Tipo de Transmision que tiene el vehiculo.

--> **owner:** Cantidad de dueños que ha tenido el vehiculo.

## Explique el problema a resolver. 
Se pretende crear un modelo de aprendizaje automático (ML) el cual nos permita poder predecir el costo de un automóvil de segunda mano esto en base a las variables independientes o en base a sus especificaciones de cada campo. El cual mediante el dataset **"Vehicle dataset from CarDekho"** que contine información de 4340 automóviles mencionado en el anterior apartado. Donde se definió nuestra variable objetivo denominada **"selling_price:"** que corresponde al precio de venta. Además, existen 7 variables de entrada que se denominan: **name**, **year**, **km_driven**, **fuel**, **seller_type**, **transmission** y **owner**.

## Caracterización del Dataset

Realice una descripción de los datos con:

>- Número de instancias en total.
>- Número de atributos de entrada, su significado y tipo.
>- Estadísticas de la variable objetivo.
>- Estadísticas los atributos en relación con la variable objetivo.

### Número de instancias en total

In [34]:
#Código que responde a la descripción anterior
#Permite contar cuantos valores existen en nuestro dataset
car_data.count()

name             4340
year             4340
selling_price    4340
km_driven        4340
fuel             4340
seller_type      4340
transmission     4340
owner            4340
dtype: int64

Como primera parte se importaron todas las librerías necesarias, además se cargó nuestro dataset mediante nuestro repositorio en GitHub por medio de la URL, cargado nuestro dataset se lo analizo y encontró nuestra variable dependiente/objetivo que en este caso es “**selling_price:**” que significa el costo total del vehículo y además se definió nuestra variables independientes entrada tales como, name, year, km_driven, fuel, seller_type, transmission y owner. 

Como parte final nos muestra la cantidad de datos existentes en nuestro dataset, en este caso existen 4340 datos de vehículos, estos datos son repartidos exactamente iguales tanto como para nuestra variable objetivo "selling_price", como nuestras variables de entrada, tales como, name, year, km_driven, fuel, seller_type, transmission y owner.

### Número de atributos de entrada, su significado y tipo

--> **name:** Categorico Marca y modelo del vehiculo.

--> **year:** Categorico Año del vehiculo.

--> **selling_price:** Continuo Precio de venta.

--> **km_driven:** Continuo kilometraje total recorrido.

--> **fuel:** Categorico Tipo de combustible que usa.

--> **seller_type:** Categorico Tipo de vendedor.

--> **transmission:** Categorico Tipo de Transmision que tiene el vehiculo.

--> **owner:** Categorico Cantidad de dueños que ha tenido el vehiculo.

In [36]:
#Nos muestra la información (incluido el tipo de dato) de los 7 atributos de entrada.
car_data.drop('seller_type', axis=1).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   transmission   4340 non-null   object
 6   owner          4340 non-null   object
dtypes: int64(3), object(4)
memory usage: 237.5+ KB

### Mirando la distribución de la variable objetivo

## Preprocesamiento del dataset. Transformaciones previas necesarias para la modelación

In [4]:
#Transformación de las caracteristicas (mire el apartado Feature engineering del aula virtual)

## División del dataset en datos de entrenamiento y datos de test

In [5]:
#Código que realice la división en entrenamiento y test, de acuerdo con la estretgia de evaluación planeada. Describa cuál es.

## Regresión Lineal

In [6]:
#Códo del modelo

In [7]:
#Entrenamiento

In [8]:
#Test

## Evaluación del Modelo

Construya un o dos párrafos con los principales hallazgos. Cómo está funcionando el modelo? Calidad en los resultados de predicción.